// Colors
$color-main: #3b332e;
$color-green: #c7d200;
$color-gold: #8b8773;
$color-grey-light: #f6f6f6;
$color-grey-medium: #f0f0f0;
$color-grey-dark: #e5e5e5;

$gradient-green-dark: #908f00;
$gradient-green-bright: #a9b304;
$gradient-gold-dark: #635f53;
$gradient-gold-bright: #b1a692;
