<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">

<li class="searchbox">
	<span class="opensearch">
		<i class="fa fa-search"></i>
	</span>
	<span class="searchform">
		<f:form pageUid="{settings.searchPid}" action="search" method="post" id="tx_indexedsearch" noCacheHash="true">
			<div class="tx-indexedsearch-hidden-fields">
				<f:form.hidden name="search[_sections]" value="0" />
				<f:form.hidden name="search[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
				<f:form.hidden name="search[pointer]" id="tx_indexedsearch_pointer" value="0" />
				<f:form.hidden name="search[ext]" value="{searchParams.ext}" />
				<f:form.hidden name="search[searchType]" value="{searchParams.searchType}" />
				<f:form.hidden name="search[defaultOperand]" value="{searchParams.defaultOperand}" />
				<f:form.hidden name="search[mediaType]" value="{searchParams.mediaType}" />
				<f:form.hidden name="search[sortOrder]" value="{searchParams.sortOrder}" />
				<f:form.hidden name="search[group]" value="{searchParams.group}" />
				<f:form.hidden name="search[languageUid]" value="{searchParams.languageUid}" />
				<f:form.hidden name="search[desc]" value="{searchParams.desc}" />
				<f:form.hidden name="search[numberOfResults]" value="{searchParams.numberOfResults}" />
				<f:form.hidden name="search[extendedSearch]" value="{searchParams.extendedSearch}" />
			</div>
			<span class="closesearch">
				<i class="fa fa-close"></i>
			</span>
			<f:form.textfield name="search[sword]" value="{sword}" id="tx-indexedsearch-searchbox-sword" class="tx-indexedsearch-searchbox-sword form-control searchfield" placeholder="{f:translate(key: 'form.searchFor')}" />
			<span class="submitsearch">
				<i class="fa fa-search"></i>
			</span>
		</f:form>
	</span>
</li>
</html>
