<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">

<f:section name="main">
	<div class="meta">
		<a href="/" title="überblick Startseite">&copy; überblick <f:format.date date="now" format="Y" /></a>
		<f:link.page pageUid="{settings.pids.datenschutz}">
			Datenschutz
		</f:link.page>
		<f:link.page pageUid="{settings.pids.impressum}">
			Impressum
		</f:link.page>
	</div>
</f:section>
</html>
