<section class="intro gradient-green">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<p class="subhead">Suche</p>
				<h1>Verschaffen SIe sich einen Überblick</h1>
			</div>
		</div>
	</div>
</section>

<section class="searchresults">
	<div class="container">
		<div class="row">
			<div class="col-md-12 resultsearchbox" data-mh="searchresults">
				<div class="searchboxinline" data-mh="searchresults">
					<br />
					<h3>Wonach suchen Sie?</h3>
					<f:render partial="FormBox" arguments="{_all}"/>
				</div>
			</div>
		</div>
	</div>
</section>
